<section id="about">
    <strong class="about-heading">About Me</strong>
    <div class="about-box-container">
        <div class="about-box">
            <div class="text">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Praesentium quas asperiores, at adipisci enim dolor 
                    inventore eum aliquid, expedita laboriosam veniam perspiciatis ducimus dicta, sunt
                    consequatur! Modi, consequuntur rem! Temporibus.
               </p>
               <div class="footer-social">
                   <a href="">
                       <i class="fa fa-facebook"></i>
                   </a>
                   <a href="">
                       <i class="fa fa-twitter"></i>
                   </a>
                   <a href="">
                       <i class="fa fa-instagram"></i>
                   </a>
                   <a href="">
                       <i class="fa fa-linkedin"></i>
                   </a>
               </div>
            </div>
            <div class="about-me">
                <img src="../../../assets/images/about.png" alt="about-me img">
            </div>
        </div>
    </div>
</section>