<section id="skills">
    <div class="skill-heading">
        <strong class="skills-heading">My Skills</strong>
    </div>
    <div class="skills-text-section">
        <div class="row">
            <div class="col">
                <app-skill></app-skill>
            </div>
            <div class="col">
                <app-skill></app-skill>
            </div>
            <div class="col">
                <app-skill></app-skill>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-skill></app-skill>
            </div>
            <div class="col">
                <app-skill></app-skill>
            </div>
            <div class="col">
                <app-skill></app-skill>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-skill></app-skill>
            </div>
            <div class="col">
                <app-skill></app-skill>
            </div>
            <div class="col">
                <app-skill></app-skill>
            </div>
        </div>
    </div>
</section>