.skills-text-section {
    width: 90%;
    margin: 30px auto 0;
    
}
.skill-heading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skills-heading {
    color: #ffffff;
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 90%;
    background-color: #141516;
    padding: 10px;
    display: flex;
}
.row {
    display: flex;
    justify-content: space-between;
}
.col {
    flex-basis: 28%;
}
.skill-box strong {
    color: #ffffff;
    margin: 0px;
    font-weight: 400;
    font-size: 0.9rem;
}